<!-- <div class="navbar">
  <div class="site-name">LocalGrapher</div>
  <div class="site-menu">
    <a routerLink="../home">Home</a>
    <a routerLink="../photographers">Photographers</a>
    <a routerLink="../login">Login</a>
    <a routerLink="../signup">Sign Up</a>
  </div>
</div> -->
<nav class="navbar fixed-top">
    <a class="navbar-brand ms-5" href="#">LocalGrapher</a>
      <div class="navbar-nav flex-row-reverse">
        <a class="nav-link" routerLink="../signup">Sign Up</a>
        <a class="nav-link" routerLink="../login">Login</a>
        <a class="nav-link" routerLink="../photographers">Photographers</a>
        <a class="nav-link" routerLink="../home">Home</a>
      </div>
</nav>